---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import ArticlePreview from "./ArticlePreview.astro";
interface Props {
    featuredOnly?: boolean;
    title?: string;
}
const { title, featuredOnly } = Astro.props;
const articleData = await getCollection('article', (article => {
    return (featuredOnly ? article.data.featured : true) && // If (featuredOnly = true) only include featured articles.
    article.data.hidden != true && 
    article.data.draft != true; 
}));
const articleCollection = articleData.sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());
---

<Section title={title}>
    <ul class="lg:ps-0">
        {articleCollection.map(article => (
            <li class="my-8 lg:my-8 lg:ps-0">
                <ArticlePreview title={article.data.title} publishDate={article.data.publishDate} slug={article.slug} description={article.data.description}/>
            </li>
    ))}
    </ul>
</Section>